
body {
    background-color: black;
    text-align: center;
    padding: 30vh;
    color: white;
}

/* Center meme */
.meme {
    display: block;
    margin: auto;
}

.meme-name {
    font-size: 2em;
    font-weight: bold;
}